<h1>Here are your tasks for today</h1>

<%= form_for(@task) do |f| %>
  <%=f.label :title %>
  <%=f.text_field :title %>
  <br/>
  <%=f.label :details %>
  <%=f.text_field :details %>
  <br/>
  <%=f.submit%>
<% end %>

<%=  link_to 'Back', tasks_path%>
